---
---

@import "{{ site.theme }}";

.page-header {
  background-image: none;
  background-color: #474747;
<<<<<<< HEAD
}

h3 {
  color: #474747;
=======
>>>>>>> c3dc35c89352d8b74292ae46ab6a96aaa1b6262f
}
